html, body {
  height: 100%;
  padding: 0;
  margin: 0;
}

#map {
  position: absolute;
  width: 100%;
  height: 100%;
}

.leaflet-popup-content {
  margin: 9px;
  min-width: 400px !important;
  max-width: 500px !important;
  max-height: 300px;
  overflow: auto;
}

.leaflet-popup-content-wrapper {
  border-radius: 6px;
}