html, body {
  height: 100%;
  padding: 0;
  margin: 0;
}

#map {
  position: absolute;
  width: 100%;
  height: 100%;
}

.maplibregl-popup-content {
  min-width: 400px;
  max-width: 500px;
  max-height: 300px;
  overflow: auto;
  border-radius: 6px;
  padding: 9px;
}